.top {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 625px;
    background-image: url("./media/restaurant-hero-image.jpg");
    background-repeat: repeat-x;
}
.pagehead  {
    text-align: center;
    color: white;
}
.orderbutton {
    margin: auto;
    width: 200px;
}
.numb {
    width: 100px;
}

.orderbox {
    width: 90%;
    border-style: solid;
    border-color: gray;
}